
<!-- local css for body -->
<link rel="stylesheet" type="text/css" href="../css/file_viewer.css">
<!-- local css for header -->
<link rel="stylesheet" type="text/css" href="../css/header.css">

<!-- header -->
<div class="nav-bar" style="position: fixed;">
    <a href="/admin" class="back-icon">
        <i class="fa-solid fa-circle-arrow-left" style="color: #b8b8b8;"></i>
    </a>    
    <div class="title">
        Admin Dashboard
    </div>
    <div class="sub-title">
        View Students
    </div>
    <div class="file-name">
        <%= fileName %>
    </div>
</div>

<!-- search bar -->
<div class="search-bar">
    <form id="searchForm">
        <div class="search-box">
            <input type="text" id="search-input" placeholder="Search data...">
            <button id="go" class="search-btn" type="button">Go</button>
        </div>
    </form>
    <div>
        <p id="total-rows">Total Rows: <%=length%></p>
    </div>
</div>

<div class="result-aria">
    <table>
        <thead>
            <tr>
                <th>Roll no</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone No</th>
            </tr>
        </thead>
        <tbody>
            <% for(let student of data) { %>
            <tr>
                <td><%= student.rollNo %></td>
                <td><%= student.fname %></td>
                <td><%= student.mname %></td>
                <td><%= student.lname %></td>
                <td><%= student.email %></td>
                <td><%= student.phno %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
